{ margin:0;
 padding:0;
}
 header {
         background-imgage:url(.../page2.jpg);
         hight:100vh;
         background-size: cover;
         background-position: center;
}
ul{
    float: right;
    list.style.type: none;
}
         